/*.navenu {
    background-color: #1e1e1e;
    background-image: url("../images/NavBar.gif");
    background-position: top;
    border-top: 1px solid #383838;
    margin-bottom: 5px;
    z-index:105;
}*/
html,body{
margin: 0;
padding: 0;
}
header{
  background-image: url("../images/main.jpg");
  height: 650px;
  margin: 0;
  padding: 0;
position: relative;
background-size:cover;

}
ul{
  margin: 0;
}
nav ul li {
  color: white;
  position:relative;
  left:35%;top:0;
  list-style-type: none;
  padding: 10px;
  display: inline-block;
text-align: center;
text-decoration:none;
margin:0
}
.tekstas{
  background-color: grey;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  position:absolute;
  bottom: 0;
}
#box{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.boxai{
overflow: hidden;
position: relative;

}
.logo1{
  background-image: url("../images/logo1.jpeg");
  height: 100%;
  float: left;
width: 70%;
background-size: cover;
position: relative;
}
.logo1-right{
  width: 30%;
  background-color: grey;
  height: 100%;
  float:right;
  position: relative;
}
.logo1-right img{
  width: 100%;
  height: auto;
}
.tekstas1{
color: white;
position: relative;
}
.logo1-left{
  background-size: cover;
  height: 100%;
  position: relative;

}
.logo2{
  background-image: url("../images/logo2.jpg");
  height: 100%;
  float: right;
width: 70%;
background-size: cover;
position: relative;
}
.logo2-left{
  width: 30%;
  height: 100%;
  background-color: grey;
  float:left;
  position: relative;
}
.logo2-left img {
  width: 100%;
  height: auto;
}
.tekstas2{
color: white;
position: relative;
}
.logo3{
  background-image: url("../images/logo2.jpg");
  height: 100%;
  float: left;
width: 33.33%;
background-size: cover;
position: relative;
}
.logo3-center{
  width: 33.33%;
  float:left;

  background-color: grey;
  position: relative;
}
.logo3-center img{
  width: 100%;
  height: auto;
}
.tekstas3{
color: white;
position: relative;
}
.logo3-right{
  background-image: url("../images/logo2.jpg");

  float: left;
width: 33.33%;
background-size: cover;
position: relative;
}
h3{
  margin: 0;
}
.subscribe{
  text-align: center;
  background-color: grey;

}
.subscribe-input{
  margin-bottom: 20px;
}
footer{
  background-color: #eeebeb;
}
.adresas{
  list-style-type: none;
  margin: 0;
  text-align: left;
  float: left;
}
.info{
  text-align: right;
  float: right;
margin: 0;
}
.socialDiv{
  padding: 40px;
  text-align: center;
}
.social-icons{
  background-color: #dbdbdb;
  width: 30px;
  text-align: center;
  display: inline-block;
}
.social-icons:hover {
  width: 35px;
}
