/*.navenu {
    background-color: #1e1e1e;
    background-image: url("../images/NavBar.gif");
    background-position: top;
    border-top: 1px solid #383838;
    margin-bottom: 5px;
    z-index:105;
}*/
html,body{
font-family: 'Architects Daughter', cursive;
margin: 0;
padding: 0;
}
header{
  background: url("../images/main.jpg") no-repeat center center;
  height: 650px;
  margin: 0;
  padding: 0;
position: relative;
background-size:cover;

}

ul{
  margin: 0;
    padding-left: 0;
}
nav{
  text-align: center;
}
nav ul li {
  color: white;
  list-style-type: none;
  padding: 10px;
  display: inline-block;
text-align: center;
text-decoration:none;
margin:0
}
.tekstas{
  background-color: grey;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  position:absolute;
  bottom: 0;
}
#box{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.boxai{
overflow: hidden;
position: relative;

}
.logo1{
  background-image: url("../images/logo1.jpeg");
  height: 100%;
  float: left;
width: 70%;
background-size: cover;
position: relative;
}
.logo1:hover{
  display: block;
  background: url("");
}
.logo1:hover::after{
  content: "";
  background: url("../images/logo1.jpeg");
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.about{
  text-align: center;
  padding: 60px;
  display: none;
color: black;
}
.logo1:hover .about{
  display: block;

}
.logo2:hover .about{
  display: block;

}
.logo2:hover{
  display: block;
  background: url("");

}
.logo2:hover::after{
  content:"";
      background: url("../images/logo2.jpg") no-repeat center center;
      background-size: cover;
      position: absolute;
      top:0px;
      left: 0px;
      width:100%;
      height:100%;
      z-index:-1;
      opacity: 0.4; /* Here is your opacity */
  }
.logo1-right{
  width: 30%;
  background-color: grey;
  height: 100%;
  float:right;
  position: relative;
}
.logo1-right img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.tekstas1{
color: white;
position: relative;
}
.logo1-left{
  background-size: cover;
  height: 100%;
  position: relative;

}
.logo2{
  background: url("../images/logo2.jpg") no-repeat center center;
  height: 100%;
  float: right;
width: 70%;
background-size: cover;
position: relative;
}
.logo2-left{
  width: 30%;
  height: 100%;
  background-color: grey;
  float:left;
  position: relative;
}
.logo2-left img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
.tekstas2{
color: white;
position: relative;
}
.logo3{
  background: url("../images/logo2.jpg") no-repeat center center;;
  height: 100%;
  float: left;
width: 33.33%;
background-size: cover;
position: relative;
}
.logo3-center{
  width: 33.33%;
  float:left;

  background-color: grey;
  position: relative;
}
.logo3-center img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.tekstas3{
color: white;
position: relative;
}
.logo3-right{
  background: url("../images/logo3.jpeg") no-repeat center center;;
vertical-align: bottom;
  float: left;
width: 33.33%;
background-size: cover;
position: relative;
}
h3{
  margin: 0;
}
.subscribe{
  text-align: center;
  background-color: grey;

}
.subscribe-input{
  margin-bottom: 20px;
}
footer{
  background-color: #eeebeb;
}
.adresas{
  color:black;
  list-style-type: none;
  margin: 0;
  text-align: left;
  float: left;
}
.info{
  text-align: right;
  float: right;
margin: 0;
}
.socialDiv{
  padding: 40px;
  text-align: center;
}
.social-icons{
  background-color: #dbdbdb;
  width: 30px;
  text-align: center;
  display: inline-block;
}
.social-icons:hover {
  width: 35px;
}
.slider{
text-align: center;

}
.slick-next, .slick-prev {
  display: none !important;
}
.mobile {
  display: none;
}
@media screen and (max-width:768px) {
.logo1, .logo2, .logo3, .logo3-right {
display: none;
}
.mobile {
  display: block;
}
.logo1-right, .logo2-left, .logo3-center{
  width: 100%;
}
}
ul li{
  text-decoration: none;
  color: white;
  padding-left: 0;
}
#adresas{
  padding-left: 0;
}
.parentimage {
	width: 300px;
	height: 300px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.parentimage:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}
